VITE_API_KEY=AIzaSyAc4QWELn9NELmz8YBsJL5pjR_50r2NlNs
VITE_AUTH_DOMAIN=products-34800.firebaseapp.com
VITE_PROJECT_ID=products-34800
VITE_STORAGE_BUCKET=products-34800.firebasestorage.app
VITE_MESSAGING_SENDER_ID=752748368195
VITE_APP_ID=1:752748368195:web:60a76c01c3a8849d8d5ff6
